[package]
name = "twitch_queue_bot"
version = "0.1.0"
authors = ["stuckoverflow2021"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
twitch-irc = "2.1.0"
tokio = { version = "1.1.0", features = ["full"] }
tempfile = "3"
serenity = "0.8"