[package]
name = "twitch_queue_bot"
version = "0.1.0"
authors = ["stuckoverflow2021"]
edition = "2018"

[dependencies]
async-trait = "0.1.42"
chrono = "0.4"
log = "0.4.14"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serenity = "0.10"
simple_logger = "1.11.0"
structopt = "0.3.13"
tokio = { version = "1.1.0", features = ["full"] }
toml = "0.4.2"
twitch-irc = { version = "2.1.0", features = ["refreshing-token"] }

[dev-dependencies]
rand = "0.8.3"
